<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @deal.price %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @deal.expires_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<% if @deal.images.exists? %>
  <div class="row">
    <div class="twelve columns">
      <div class="image-row">
          <div class="image-set">
            <p><strong><u>Images:</u></strong></p>
            <% @deal.images.each do |image| %>
                <a class="without-caption image-link" data-lightbox="image-1" rel="shadowbox"><%= image_tag image.image.url(:thumbnail) %></a>
            <% end %>  
          </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', feed_path %>
