<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="brizby">
  <div ng-include="'header/_header.html'"></div>
  <div ui-view></div>
  <%= javascript_tag do %>
  	angular.module('brizby.config', []).constant('AWS_CREDS', {
      bucket: "<%= ENV["AWS_BUCKET"] %>",
      access_key: "<%= ENV["AWS_ACCESS_KEY"] %>",
      secret_key: "<%= ENV["AWS_SECRET_ACCESS_KEY"] %>"
    });
  <% end %>
</body>
</html>
